@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  color: whitesmoke;
  background-color: #07071d;
  background-image: url('../assets/background-stars.svg');
}
#displayData {
  // border: 8px solid blue;
  // height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  gap: 1rem;
}
#btnContainer {
  display: flex;
  // border: 3px solid red;
  width: 100%;
  max-width: 800px;
  padding: 2rem;
}
